{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{profile.user}}{% endblock %}
{% block content %}
{% if  request.user.is_authenticated %}
      {%include 'registration/includes/publication_menu.html'%}
       {% endif %}

<head>
  
  <title>Perfil</title>
 

 
 

 
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <h3>{% if request.user.profile.nombre %}<p>{{request.user.profile.nombre}} {% endif %}

  {% if request.user.profile.apellido_p %} {{request.user.profile.apellido_p}} {% endif %}
              
              {% if request.user.profile.apellido_m %} {{request.user.profile.apellido_m}}</p>{% endif %}
</h3>

  {% if request.user.profile.avatar %}
  <img src="{{request.user.profile.avatar.url}}" class="img-circle" alt="Bird" width="250" height="250">

  {% else %}
  <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-circle" alt="Bird" width="350" height="350">
  {% endif %}



  <h3>{% if request.user.profile.titulo %}<p>{{request.user.profile.titulo}}</p>{% endif %}</h3><br>

<div class="container-fluid bg-2 text-center">

  <h3>CONTACTO</h3>
  <h4>Email</h4>
  <p>{{request.user.email}}</p>
  <h4>Telefono</h4>
  <p>{% if request.user.profile.telefono %} {{request.user.profile.telefono}} {% endif %}</p>
  <h4>Direccion</h4>
  <p>{% if request.user.profile.direccion %} {{request.user.profile.direccion}}, {% endif %}
  {% if request.user.profile.ciudad %} {{request.user.profile.ciudad}}, {% endif %}
  {% if request.user.profile.estado %} {{request.user.profile.estado}}, {% endif %}
  {% if request.user.profile.pais %} {{request.user.profile.pais}}. {% endif %}</p>
  <h4>Fecha de nacimiento</h4>
  <p>{% if request.user.profile.fecha_nac %} {{request.user.profile.fecha_nac}} {% endif %}</p><br>




</div>






<div class="container-fluid bg-3 text-center">    
  
  <div class="row">
    <div class="col-sm-4">
      <h3>EXPERIENCIA</h3><br>
      <p>{% if request.user.profile.exp %} {{request.user.profile.exp}} {% endif %}</p>

        {% if request.user.profile.img_exp %}
          <img src="{{request.user.profile.img_exp.url}}" class="img-circle" alt="Bird" width="250" height="250">

          {% else %}
        <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-circle" alt="Bird" width="250" height="250">
        {% endif %}






     
    </div>
    <div class="col-sm-4"> 
      <h3>EDUCACION</h3><br>
      <p>{% if request.user.profile.edu %} {{request.user.profile.edu}} {% endif %}</p>


        {% if request.user.profile.img_edu %}
          <img src="{{request.user.profile.img_edu.url}}" class="img-circle" alt="Bird" width="250" height="250">

          {% else %}
        <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-circle" alt="Bird" width="250" height="250">
        {% endif %}



       
    </div>
    <div class="col-sm-4"> 
      <h3>HABILIDADES</h3><br>
      <p>{% if request.user.profile.hab %} {{request.user.profile.hab}} {% endif %}</p>
          {% if request.user.profile.img_hab %}
          <img src="{{request.user.profile.img_hab.url}}" class="img-circle" alt="Bird" width="250" height="250">

          {% else %}
        <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-circle" alt="Bird" width="250" height="250">
        {% endif %}
       
    </div>
  </div>
</div>



</div>



</body>
{% endblock %}